h1
 { 
	text-align: left;
	background-color:white;
	font-family: helvetica;
	padding-left:10px;
	width: 100px;

				}


body
{
	background-image: url("bg.png");
	 background-color: lightgreen;
	 background-position: center;
}

p
{
	font-size: 25px;
	font-family: Comic Sans MS;
	text-align:center;
	float:left;
}

img
{ 
	display: block; 
	margin-left: auto; 
	margin-right: auto; 
	width:45% ;
	
}